.App {
  /* text-align: center; */
  width: 100vw;
  height: calc(100vh+250px);
}
.app-background {
  background-color: #002608;
}
::-webkit-scrollbar{
  width: 7px;
  /* color: #000; */
}
::-webkit-scrollbar-track{
  background: #fff;
}
::-webkit-scrollbar-thumb{
  background: #000;
}
::-webkit-scrollbar-thumb:hover{
  background: #000;
}
::-webkit-scrollbar-thumb:active{
  background: #000;
}
::-webkit-scrollbar-corner{
  background: #fff;
  border-radius: 4px;
}